/* Universal Rules */

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 18px;
  background-color: lightyellow;
  font-family: "Helvetica", sans-serif;
}

/* Site container & general rules */

.container {
  max-width: 960px;
  margin: auto;
}

.mobile {
  display: none;
}

.flex {
  display: flex;
}

/* Header section */

nav {
  color: white;
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 1.5rem;
  width: auto;
  display: block;
}
ul li {
  display: inline;
  margin-right: 1rem;
}
li a {
  text-decoration: none;
  color: white;
}

/* Textbox Section */

header .flex {
  justify-content: flex-end;
}

.main {
  margin-top: 8rem;
  margin-right: -2rem;
  background-color: white;
  color: black;
  opacity: 0.5;
  width: 18rem;
  padding: 1rem;
  text-align: center;
}
.main span {
  font-size: 1.25rem;
}

/* Holds the nav bar and the text box */

header {
  height: 20rem;
  padding-top: 1rem;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeigokEfBIK7Z8iU0hKivORxm6KS-yGe1_W0g9q1jvkTEKiCaG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Games section */

.heading {
  text-align: center;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 1.5rem auto;
}

.game h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding: .5rem;
  text-align: center;
  background-color: black;
  color: white;
}

.games {
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
  flex-direction: column;
  width: 28%;
  margin: 2.5%;
  margin-bottom: 3rem;
  background-color: white;
  border: 1px solid black;
  opacity: 0.8;
  height: auto;
}
.game img {
  margin: auto;
  width: 80%;
  height: auto;
  display: block;
  padding: 1rem;
}
.game p {
  margin: auto;
  padding: 1rem;
  padding-top: 0;
}

footer {
  align-items: center;
  background-color: black;
  color: white;
  text-align: left;
  height: 5rem;
}

footer h3 {
  margin-left: 2rem;
}

@media only screen and (max-width: 470px) {
  .container {
    width: 100%;
  }
  .dt {
    display: none;
  }
  .mobile {
    display: inline-block;
  }

  header {
    padding-top: 0;
    height: 15rem;
  }
  .heading {
    margin-top: 0;
  }
  .game {
    width: 80%;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }
  footer {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 17rem;
  }
  .container {
    width: 100%;
  }
  .game {
    width: 80%;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }
  .main {
    margin: 9rem auto;
    width: 80%;
  }
