/* Universal Rules */

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 18px;
  background-color: #120e1e;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}

/* Site container & general rules */

.container {
  max-width: 960px;
  margin: auto;
}

.mobile {
  display: none;
}

.flex {
  display: flex;
}

/* Header section */

nav {
  color: white;
  padding: 1rem;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
nav img {
  height: 1.5rem;
  width: auto;
  display: block;
}

ul li {
  display: inline;
  margin-right: 1rem;
}
li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  transition-property: color;
  transition-duration: .3s;
}
li a:hover {
  color: gold;
}

/* Textbox Section */

header .flex {
  justify-content: flex-end;
}

.main {
  margin-top: 8rem;
  margin-right: -2rem;
  background-color: white;
  color: black;
  opacity: 0.5;
  width: 18rem;
  padding: 1rem;
  text-align: center;
}
.main span {
  font-size: 1.25rem;
}

/* Holds the nav bar and the text box */

header {
  height: 25rem;
  width: 100%;
  margin: auto;
  background-image: url("./images/banner.jp2");
  padding-top: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid white;
}

/* Games section */

.heading {
  text-align: center;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 1.5rem auto;
}

.game h1, .videos h1 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
  padding: .5rem;
  text-align: center;
  background-color: black;
  color: white;
}
.game a {
  text-decoration: none;
  color: white;
}
.game h2 {
  margin-left: 1rem;
  text-align: left;
  margin-bottom: .5rem;
  transition-property: color;
  transition-duration: .3s;
}
.game h2:hover {
  color: gold;
}

.game p {
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
}

.games {
  justify-content: center;
  margin-bottom: 1rem;
}

.game {
  flex-direction: column;
  width: 28%;
  margin: 0 2.5%;
  background-color: #686770;
  color: white;
  border: 1px solid white;
  opacity: 0.8;
  height: auto;
}

.game img {
  margin: .25rem auto;
  margin-bottom: .5rem;
  width: 90%;
  height: 30%;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

/* Videos */

.videos {
  background-color: #686770;
  color: white;
  width: 85%;
  padding: 1rem;
  opacity: 0.8;
  flex-direction: column;
  border: 1px solid white;
}

.topVideoBox {
  align-items: center;
}

.videoBoxes {
  flex-direction: row;
  justify-content: space-between;
}

.topVideoBox, .videoBox {
  background-color: #686770;
  flex-direction: column;
}

.videos p {
  margin: .75rem;
  text-align: center;
}

.videos h1 {
  margin-top: 0;
  border: .5px solid white;
}

.videos img {
  height: 100%;
  width: auto;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

/* Footer */

footer {
  align-items: center;
  background-color: black;
  color: white;
  text-align: left;
  height: 5rem;
}

footer h3 {
  margin-left: 2rem;
}

/* Phone Page */

@media only screen and (max-width: 470px) {

  .container {
    width: 100%;
  }
  .dt {
    display: none;
  }
  .mobile {
    display: inline-block;

  }
  header {
    padding-top: 0;
    height: 15rem;
  }

  .heading {
    margin-top: 0;
  }
  .game {
    width: 85%;
    margin-bottom: 1rem;
  }
  .game img {
    width: 90%;
  }
  .game p {
    font-size: 1.1rem;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }

  footer h3.mobile {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .videos {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .videoBoxes {
    flex-direction: column;
  }

}

/* Tablet Page */

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 17rem;
  }
  .container {
    width: 100%;
  }
  .game {
    width: 70%;
    margin-bottom: 2rem;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }
  .main {
    margin: 9rem auto;
    width: 80%;
  }

  .videos {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .videoBoxes {
    flex-direction: column;
  }

  footer h3.mobile {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}
